.edit-blog
  %h2 Blog編集フォーム
  .row
    .col.s12
      = form_for @blog do |f|
        .row
          .input-field.col.s12
            =f.text_field :title, class: 'textfield'

        .content
          %h5 本文
          =f.text_area :content, class: 'blog-content'
        = f.submit 'Send', class: 'send-btn'
