= render 'shared/nav'
.contents
  .user
    .user-name
      -if user_signed_in?
        = current_user.name
    .user-detail.waves-effect.waves-light.btn-large.indigo.darken-3
      =link_to 'Detail', user_path(current_user.id), method: :get

  .blogs
    - @blogs.each do |blog|
      .col.s12
        .card.indigo.darken-3
          .card-content.white-text
            %span.card-title
              = blog.title
            .user-name
              Creater :
              =blog.user.name
          .card-action
            =link_to 'Show blog', blog_path(blog.id), method: :get