= render 'shared/nav'

.user-room
  %h5
    = current_user.name
    さんのページ
  .user-room__blogs
    - @blogs.each do |blog|
      .col.s12
        .card.indigo.darken-3
          .card-content.white-text
            %span.card-title
              = blog.title
          .card-action
            - if user_signed_in?
              =link_to 'Edit blog', edit_blog_path(blog.id)
              =link_to 'Delete blog', blog_path(blog.id), method: :delete
  = paginate(@blogs)