.blog{
  width: 800px;
  height: 500px;
  padding:  35px;
  margin: 50px auto 15px;
  border: 1px solid #ddd;
  &-title{
    font-size: 20px;
    margin-bottom: 25px;
    border-bottom: 1px solid #38aef0;
  }
  &-content{
    font-size: 16px;
    &__image{
      margin-top: 15px;
    }
  }
}

.comments{
  width: 800px;
  margin: 0 auto;
  &-box{
    height: 30px;
    display: flex;
    align-items: flex-end;
    margin: 5px 0px;
    p{
      font-size: 20px;
      margin-right: 10px;
    }
  }
}
.comment-form{
  width: 800px;
  margin: 0 auto;
  i{
    background-color:#283593;
    .waves-button-input{
      color: white;
      }
  }
}